#ignore full data and temp downloads
data/raw/
data/sra/

#ignore outputs
results/
PipelineReport.txt
.snakemake/
ref/
blast_db/

#ignore large file types
*.bam
*.sam
*.fastq
*.fastq.gz

#allow test data (override the patterns above)
!data/test/
!data/test/*.fastq.gz

#python cache
__pycache__/

#mac
.DS_Store